.teste-app{
    background-color: #4e4efcf5;
    width: 70%;
    height: 100px;
    position: relative;
    left: 2%;
    border-radius: 15px;
    transition: 0.5s;
}
.teste-app:hover{
    box-shadow: 0px 10px 25px -15px black;
}

.teste-app h1{
    color:white;
}
